.btn {
    padding: 5px 50px;
    font-size: 18px;
    font-weight: 700px;
    color: #ffffff;
    background: #f15a29;
    border: none;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.js-btn-hidden {
    display: none;
}