.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px 20px;
    background: #73a2a0;
    &__logo-img {
        width: 40%;
    }
}

.forma {
    position: absolute;
    //display: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    top: 35vh;
    left: 37%;
    border: 2px solid #73a2a0;
    border-radius: 5px;
    &__field-login {
        margin-bottom: 10px;
    }
    
}

