@import "__Normalize";
//@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;500;600;700&display=swap');
@import "_header";
@import "_elements";

body {
    background: #f9f9f9;
    background-image: url(/dist/img/logo-header.svg);
}



.warning {
    display: none;
    position: relative;
    top: 200px;
    left: 33%;
    font-size: 30px;
}

.cards {
    display: none ;
    //display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
}


.card {
    margin: 10px 10px;
    padding: 5px 5px;
    width: 22%;
    //color: #f9f9f9;
    background-color: rgba(115, 162, 160, 0.6);;
    
    
}
